<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/dataTables.bootstrap5.css">
  </head>
  <body>
    <div class="container">
      <h1>{{ title }}</h1>
      <hr>
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" charset="utf8" src="../bootstrap/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../bootstrap/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="../bootstrap/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
